@fontface {
    font-family: "Segoe UI Light";
    src: url('fonts/segoeui-l.ttf');}

@fontface {
    font-family: ubuntu;
    src: url('fonts/Ubuntu.ttf');
}

#avatar {
    width: 150px; height: 150px; border-radius: 100%;
    border: none;
    box-shadow: 0 5px 5px 0 #ABABAB;
    transition: ease-out 0.3s;
}

#avatar:hover {
    border-radius: 10px;
    transition: ease-in 0.2s;
    border-top: 3px #888;
    box-shadow: none;
}

.cover {
    background-size: 100% auto;
    background-position: right bottom; 
    font-weight: bolder; 
    color: whitesmoke; 
    font-size: 40px; 
    padding: 20px; 
    font-family: 'Ubuntu';
    padding-left: 80px; 
    padding-bottom: 30px;
    margin-bottom: 8px;
}

.col-item {
    border: none; border-radius: 6px; box-shadow: 0 5px 5px 0 #888;
    font-family: "Segoe UI Light", arial;
    padding: 10px; margin: 15px;
    background-color: white;
    height: 40%; width: 17%;
    text-align: center;
    display: inline-table;
    transition: ease-in 0.3s;
    color: black;
}

.col-item:hover{
    border: none; border-radius: 6px; box-shadow: 0 10px 10px 0 #888;
    background-color: #6699ff;
    color: white;
    border: 3px white; border-radius: 15px;
    transition: ease-in-out 0.1s;
}

.contact {
    color: white;
    transition:0.2s;
}

.contact:hover {
    font-weight: bold;
    transition: 0.2s;
    color: white;
    text-decoration: scrollbar;
    font-stretch: expanded;
    font-size: larger;
}

.contact:focus {
    font-weight: BOLD;
    transition: 0.2s;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin: 7px;
}

.col-school {
    border: none; border-radius: 6px; box-shadow: 0 5px 5px 0 #888;
    font-family: "Segoe UI Light", arial;
    padding: 0px; margin: 15px;
    background-color: white;
    height: 40%; width: 40%;
    text-align: center;
    display: inline-table;
    transition: ease-in 0.3s;
}

body {
    padding:0;
    margin: 0;   }

li.mn a {
    text-decoration: none; color: white;
}

.comment {
    padding-top: 7px;
    margin: 7px;
    margin-top: 0;
    border: 1px solid #fff  ;    
    border-radius: 6px;
    background-color: #ccffcc;
    opacity: 0.8;
    color: black;
    box-shadow: 0 5px 0 0 #009900;    
}

footer {
    padding: 30px;
}

.comment h3 {
    text-align: center;
}

.comment img {    
    border-radius: 100%;
    
}

.nav {
    width: 100%;
    position: fixed;
    opacity: 0.69;
    background: #222;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    display: inline;
}

.btn{
    padding: 10px;
    font-size: medium;
    border: 2px solid white;
    font-family: ubuntu, "segoe ui light", arial, monospace;
    background: none;
    color: white;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
}

.btn:hover {
    transition: ease-in 0.3s;
}

.header {
    text-align: center;
    margin: 0;
    top:0;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 11%;
    padding-bottom: 8%;
    background-size: 1600px 1024px;
}

.container-content {
    margin:0;
    padding: 12%;
    padding-top: 5%;
    padding-bottom: 5%;
    font-family: ubuntu,"Segoe UI light"; 
    font-size: large;
    font-weight: lighter;
}

.container-content .content-header {
    font-family: ubuntu;
    font-size: 50px;
    font-weight: lighter;
    padding-bottom: 25px;
}

.container-content .content{
    width: 75%;
}

.nav h2 {
    clear: both;
    float: left;
    font-family: "ubuntu","impact"
}


.nav div.menu ul.menunav, .nav div.menu ul.menunav li {
    float: right;    
    display: inline-table;
    list-style: none;
    text-decoration: none;
    font-family: ubuntu, "Segoe ui light",arial;    
}

.nav div.menu ul.menunav li.mn {
    padding: 25px;
    padding-bottom: 5%;
    transition: ease-out 0.05s;
}

.nav div.menu ul.menunav li.mn:hover{
    border-bottom: 2px solid;
    border-bottom-color: white;
    transition: ease-in 0.05s;
}

.nav div.menu ul.menunav li.mn-now{
    border-bottom: 4px solid #99ccff;
    padding: 25px;
    padding-bottom: 5%; 
    color: #99ccff;
}

.header h1, .header h2, .header h3 {
    color: white;
    font-family: "Segoe Ui light","ubuntu light",arial;
}

